.header {
    display: flex;
	justify-content: space-between;
	align-items: center;
    box-sizing: border-box;
}

.aside {
    display: flex;
}

.link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.link.is-selected {
    color: #96ecde;
    text-decoration: wavy;
}

.mat-list-item {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.mat-list-item.is-selected {
    color: #1ba38d;
    text-decoration: wavy;
}

.mat-list-item.disabled {
    pointer-events: none;
}

.mat-sidenav-container {
    top: 64px !important;
}

.mat-sidenav-content {
    padding-left: 15px;
}