<div *ngIf="currentUrlPath == 'open-requests'">
  <h1>Lista de Pedidos em Aberto</h1>
</div>
<div *ngIf="currentUrlPath == 'request-list'">
  <h1>Lista de Pedidos em Curso</h1>
</div>

<div class="errors" *ngIf="errors">
  {{ errors }}
</div>

<div *ngIf="!errors && !requests || requests.length === 0">
  <div *ngIf="currentUrlPath == 'open-requests'">
    <p>Não existem pedidos de diagnostico em aberto ...</p>
  </div>
  <div *ngIf="currentUrlPath == 'request-list'">
    <p>Não é responsável por nenhum diagnóstico atualmente ...</p>
  </div>
</div>

<div *ngIf="requests">
  <mat-grid-list cols="5" rowHeight="5:1">
    <ng-container>
      <mat-grid-tile>
        <b>RequestId</b>
      </mat-grid-tile>
      <mat-grid-tile>
        <b>Utente</b>
      </mat-grid-tile>
      <mat-grid-tile>
        <b>Prioridades</b>
      </mat-grid-tile>
      <mat-grid-tile>
        <b>Detalhes</b>
      </mat-grid-tile>
      <mat-grid-tile>
        <div *ngIf="currentUrlPath == 'request-list'">
          <b>Atualizar</b>
        </div>
        <div *ngIf="currentUrlPath == 'open-requests'">
          <b>Tornar Responsavel</b>
        </div>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  <hr>
  <mat-grid-list cols="5" rowHeight="5:1">
    <ng-container *ngFor="let request of requests">
      <mat-grid-tile>
        {{ request.idRequest }}
      </mat-grid-tile>
      <mat-grid-tile>
        {{ request.CCutente }}
      </mat-grid-tile>
      <mat-grid-tile>
        <span *ngIf="!request.trabalhadorDeRisco && !request.grupoDeRisco && !request.encaminhado_saude24">Sem prioridades especiais</span>
        <span *ngIf="request.trabalhadorDeRisco">Trabalhador de Risco</span>
        <span *ngIf="request.grupoDeRisco">Grupo de Risco</span>
        <span *ngIf="request.encaminhado_saude24">Saude 24</span>
      </mat-grid-tile>
      <mat-grid-tile> 
        <button mat-button [routerLink]="['..', request._id, 'request-info']">Detalhes</button>
      </mat-grid-tile>
      <mat-grid-tile> 
        <div *ngIf="currentUrlPath == 'request-list'">
          <button mat-button [routerLink]="['..', request._id, 'request-info-edit']">Atualizar</button>
        </div>
        <div *ngIf="currentUrlPath == 'open-requests'">
          <button mat-button (click)="updateResponsavel(request._id)">Tornar Responsavel</button>
        </div>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</div>